@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');


.container {
    border: 5px solid black;
    width: 1200px;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 9%;
    border-radius: 5px;
    background-color: #e9e9e9;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    justify-content: center;
    margin: 2%;
}

.descricao {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.descricaobaixo {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
   
   
    
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.nome {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 2%;
    font-size: 48px;
    font-family: "Dancing Script", cursive;
}

.instituicao {
    text-decoration: overline;
    position: absolute;
    margin-top: 26%;
    margin-left: 17.5%;
}

.data {
    text-decoration: overline;
    margin-left: 35%;
    position: absolute;
    margin-top: 26%;
}

