/* Cabeçalho */
header {
    background-color: #fff;
    padding-top: 20px;
    color: #476b43;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}



/* Estilos dos cartões */
.card {
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    background-color: #476b43 ;
    display: flex;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
}

/* Configuração de imagens dentro dos cards */
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 200px;
    width: 500px;
    align-items: center;;
    margin-right: 500px;
}

.title-card {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    color: #fff;
    display: flex;
    text-align: center;
}