/*====================PAGAMENTO======================*/

.container-editar-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-height: 100vh;
    background-color: #fff;
}

.container-editar-perfil form {
    padding: 20px;
    width: 700px;
    background: #476b43;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.container-editar-perfil form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container-editar-perfil form .row .col {
    flex: 1 1 250px;
}

.container-editar-perfil form .row .col .inputBox-editar-perfil {
    margin: 15px 0;
}

.container-editar-perfil form .row .col .inputBox-editar-perfil span {
    margin-bottom: 8px;
    display: block;
    color: #f2f2f2;
}

.container-editar-perfil form .row .col .inputBox-editar-perfil input {
    width: 100%;
    border: 1px solid;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
    text-transform: none;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
}

.container-editar-perfil form .row .col .flex {
    display: flex;
    gap: 15px;
}


.container-editar-perfil form button {
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #5a8854;
    color: #f2f2f2;
    margin-top: 5px;
    cursor: pointer;
}

.container-pagamentos form .submit-btn:hover {
    background: #476b43;
}

button.button-editar-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-editar-perfil {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #5a8854;
    color: #f2f2f2;
    font-weight: 600;
    transition: all 0.4s ease;
}

.button-editar-perfil:hover {
    background-color: #f2f2f2;
    color: #476b43;
    letter-spacing: 1.5px;
}


.Row h1{
    text-align: center;
    color: #f2f2f2;
}

.imagem img {
    width: 200px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Faz a imagem ficar circular, opcional */
}
#perfil-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*====================FINAL PAGAMENTO======================*/