@import url('menu.css');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');
@import url('all.css');

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 38.90%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    background-color: #00000012;
    padding: 11px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 15px;
}
.nav-manual .manual-btn:hover {
    background-color: rgb(186, 186, 186);
}
#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #476b43;
    transform: scale(1.15);  
    z-index: 9;
}
#radio1:checked ~ .nav-auto .auto-btn1:hover {
    background-color: #375234;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #b9ceb9;
    transform: scale(1.15);
    z-index: 9;
}
#radio2:checked ~ .nav-auto .auto-btn2:hover {
    background-color: #a4b7a4;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #0079be;
    transform: scale(1.15);
    z-index: 9;
}
#radio3:checked ~ .nav-auto .auto-btn3:hover {
    background-color: #005a8e;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


@media screen and (max-width: 530px) {
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display:block;
    }
    .nav-auto, .nav-manual{
        margin-top: 100%;
    }
    .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
        margin-right: 18px;
    }
    .nav-manual .manual-btn, .nav-auto div{
        padding: 11px;
    }
    .slider-content{
        width: 410%;
    }
    
}

:root {
    --color-primary-1: #f2f2f2;
    --color-primary-2: #b9ceb9;
    --color-primary-3: #90ee90;
    --color-primary-4: #28a745;
    --color-primary-5: #527D4D;
    --color-primary-6: #476b43;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #e2e2e2, #fff); 
    
}


.title {
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.description {
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: justify;
    text-align-last: center;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: #fff;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
}

.section-subtitle {
    font-size: 2.1875rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
}

.btn-assinaturas {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 10px;
    padding: 10px 12px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: #fff;
    width: 400px;
}

.btn-assinaturas:hover {
    background-color: var(--color-primary-3);
}

.title-tl {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 120px;
    color: #1d1d1d;
}

