/* Gradiente de fundo */
body {
    background: linear-gradient(to bottom right, #F2F2F2, #F2F2F2 47.5%, #4CAF50 47%, #4c6e48);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--corFundo);
  }
  
  .wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .wrapper .form-container {
    background-color: var(--corFormulario);
    width: 46rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.25rem;
  }
  
  .form-container .box-form {
    display: flex;
    justify-content: space-between;
  }
  
  .form-container .box-form .input-content .box-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    margin-bottom: 0.5rem;
  }
  
  .form-container .box-form .input-content label {
    font-size: 0.875rem;
    color: var(--corRotulos);
    font-weight: 600;
  }
  
  .form-container .box-form .input-content input {
    background-color: var(--corFundo);
    border: 1px solid var(--corBordaInputPadrao);
    border-radius: 4px;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--corRotulos);
    height: 2.8125rem;
  }
  
  .form-container .button-submit {
    height: 3.5rem;
    border-radius: 0.25rem;
    background-color: var(--corBotoes);
    color: #ffffff;
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 1rem;
  }
  
  .form-container .button-submit:hover {
    background-color: #4c6e48;
  }
  
  .form-container .button-submit.disable {
    opacity: 50%;
    pointer-events: none;
  }
  
  @media (max-width: 745px) {
    body {
        background-color: var(--corFormulario);
    }
  
    .wrapper .form-container {
        width: max-content;
    }
  
    .form-container .box-form {
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;
    }
  
    .form-container .box-form .input-content {
        order: 2;
    }
  
    .form-container .box-form .card-content {
        order: 1;
    }
  
    .form-container .box-form .card-content .status-security {
        display: none;
    }
  }
  
  .form-container .box-form .box-card {
    background: url("../imgsPg/background-card-1.svg"), rgb(17, 24, 39);
    border-radius: 1rem;
    background-size: cover;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.25);
    border: 1px inset #000000a6;
  }
  
  .form-container .box-form .box-card:nth-child(2) {
    background: url("../imgsPg/background-card-2.svg"), rgb(17, 24, 39);
  }
  
  .form-container .box-form .box-card .bar {
    height: 2.5rem;
    background-color: var(--corFundo);
    margin-top: 1.25rem;
  }
  
  .form-container .box-form .card-content .rotate-card {
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .form-container .box-form .card-content .rotate-card:hover {
    background-color: rgba(255, 255, 255, 0.04);
    cursor: pointer;
  }
  
  .form-container .box-form .card-content .content.card-2 {
    padding: 0;
    justify-content: start;
    gap: 30px 0;
  }
  
  .form-container .box-form .card-content .content .cvv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 0.5rem;
  }
  
  .form-container .box-form .card-content .content .cvv .cvv-number {
    height: 2.5rem;
    width: 80%;
    border-radius: 4px;
    background-color: #f2f2f296;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--corFundo);
  }
  
  .form-container .box-form .card-content .content {
    width: 17.5rem;
    height: 10.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: space-between;
    backdrop-filter: blur(3rem);
  }
  
  .form-container .box-form .card-content .content .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-container .box-form .card-content .content .card-body .number-card {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .form-container .box-form .card-content .content .card-body .name-and-date {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
  }
  
  .form-container .box-form .card-content .content .card-body {
    color: var(--corNomeCartao);
  }
  
  .form-container .box-form .card-content .content .card-body .number-card {
    margin-bottom: 1rem;
    word-spacing: 8px;
    letter-spacing: 0.25rem;
  }
  
  .form-container .button-submit {
    height: 3.5rem;
    border-radius: 0.25rem;
    background-color: var(--corBotoes);
    color: #ffffff;
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 1rem;
  }
  
  .form-container .button-submit:hover {
    background-color: #4c6e48;
  }
  
  .form-container .button-submit.disable {
    opacity: 50%;
    pointer-events: none;
  }
  
  .form-container .card-content-box {
    position: relative;
    width: 17.5rem;
    height: 10.5rem;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }
  
  .form-container .card-content-box > div {
    position: absolute;
  }
  
  .form-container .card-content-box > div:nth-child(1) {
    transform: rotateY(180deg);
  }
  
  .form-container .card-content-box.rotate {
    transform: rotateY(180deg);
  }
  
  .form-container .card-content-box.rotate > div:nth-child(1) {
    backface-visibility: visible;
    z-index: 2;
  }
  
  .form-container .card-content-box.rotate > div:nth-child(2) {
    backface-visibility: hidden;
    z-index: 1;
  }
  
  @media (max-width: 745px) {
    body {
      background-color: var(--corFormulario);
    }
  
    .wrapper .form-container {
      width: max-content;
    }
  
    .form-container .box-form {
      flex-direction: column;
      align-items: center;
      gap: 2rem 0;
    }
  
    .form-container .box-form .input-content {
      order: 2;
    }
  
    .form-container .box-form .card-content {
      order: 1;
    }
  
    .form-container .box-form .card-content .status-security {
      display: none;
    }
  }
  
  body {
      background-color: var(--corFundo);
    }
    
    .wrapper {
      display: grid;
      place-items: center;
      height: 100vh;
    }
    
    .wrapper .form-container {
      background-color: var(--corFormulario);
      width: 46rem;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      border-radius: 0.25rem;
    }
    
    .form-container .box-form {
      display: flex;
      justify-content: space-between;
    }
    
    .form-container .box-form .input-content .box-input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem 0;
      margin-bottom: 0.5rem;
    }
    
    .form-container .box-form .input-content label {
      font-size: 0.875rem;
      color: var(--corRotulos);
      font-weight: 600;
    }
    
    .form-container .box-form .input-content input {
      background-color: var(--corFundo);
      border: 1px solid var(--corBordaInputPadrao);
      border-radius: 4px;
      padding: 0 1rem;
      font-size: 1rem;
      color: var(--corRotulos);
      height: 2.8125rem;
    }
    
    .form-container .box-form .input-content .box-input input {
      width: 20.5rem;
    }
    
    .form-container .box-form .input-content input::placeholder {
      color: var(--corPlaceholder);
      word-spacing: 0;
    }
    
    .form-container .box-form .input-content input:focus {
      border-color: var(--corBordaInputFocus);
      border-width: 2px;
    }
    
    .form-container .box-form .input-content .box-input-more {
      display: flex;
      width: 20.5rem;
      gap: 0 0.5rem;
    }
    
    .form-container .box-form .input-content .box-input-more > div:nth-child(2) {
      flex: 1 1 50%;
    }
    
    .form-container .box-form .input-content .box-input-more > div input {
      width: 100%;
    }
    
    .form-container .box-form .input-content .box-input-more label {
      display: flex;
      gap: 0 0.5rem;
      margin-bottom: 0.5rem;
      align-items: center;
    }
    
    .form-container .box-form .input-content .box-input-more .info {
      margin-top: 0.5rem;
    }
    
    .form-container .box-form .input-content .info {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      max-height: 1.125rem;
      height: 1.125rem;
      pointer-events: none;
      visibility: hidden;
    }
    
    .form-container .box-form .input-content .info.visible {
      visibility: visible;
    }
    
    .form-container .box-form .input-content .info.view {
      opacity: 1;
      pointer-events: auto;
    }
    
    .form-container .box-form .input-content .info .message {
      color: var(--corErro);
      font-size: 0.8125rem;
    }
    
    .form-container .box-form .card-content {
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
      align-items: center;
    }
    
    .form-container .box-form .card-content .status-security {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      color: var(--corRotulos);
    }
    
    .form-container .box-form .card-content .status-security span {
      font-size: 0.875rem;
    }
    
    .form-container .box-form .box-card {
      background: url("./../assets/background-card-1.svg"), rgb(17, 24, 39);
      border-radius: 1rem;
      background-size: cover;
      box-shadow: 0 3px 24px rgba(0, 0, 0, 0.25);
      border: 1px inset #000000a6;
    }
    
    .form-container .box-form .box-card:nth-child(2) {
      background: url("./../assets/background-card-2.svg"), rgb(17, 24, 39);
    }
    
    .form-container .box-form .box-card .bar {
      height: 2.5rem;
      background-color: var(--corFundo);
      margin-top: 1.25rem;
    }
    
    .form-container .box-form .card-content .rotate-card {
      width: 1.875rem;
      height: 1.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      transition: all 0.3s;
    }
    
    .form-container .box-form .card-content .rotate-card:hover {
      background-color: rgba(255, 255, 255, 0.04);
      cursor: pointer;
    }
    
    .form-container .box-form .card-content .content.card-2 {
      padding: 0;
      justify-content: start;
      gap: 30px 0;
    }
    
    .form-container .box-form .card-content .content .cvv {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      gap: 0.5rem;
    }
    
    .form-container .box-form .card-content .content .cvv .cvv-number {
      height: 2.5rem;
      width: 80%;
      border-radius: 4px;
      background-color: #f2f2f296;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 0 1rem;
      font-size: 1rem;
      font-weight: 600;
      color: var(--corFundo);
    }
    
    .form-container .box-form .card-content .content {
      width: 17.5rem;
      height: 10.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      justify-content: space-between;
      backdrop-filter: blur(3rem);
    }
    
    .form-container .box-form .card-content .content .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .form-container .box-form .card-content .content .card-body .number-card {
      font-size: 1rem;
      font-weight: 600;
    }
    
    .form-container .box-form .card-content .content .card-body .name-and-date {
      display: flex;
      justify-content: space-between;
      opacity: 0.5;
    }
    
    .form-container .box-form .card-content .content .card-body {
      color: var(--corNomeCartao);
    }
    
    .form-container .box-form .card-content .content .card-body .number-card {
      margin-bottom: 1rem;
      word-spacing: 8px;
      letter-spacing: 0.25rem;
    }
    
    .form-container .button-submit {
      height: 3.5rem;
      border-radius: 0.25rem;
      background-color: var(--corBotoes);
      color: #ffffff;
      font-weight: 600;
      font-size: 1.125rem;
      margin-top: 1rem;
    }
    
    .form-container .button-submit:hover {
      background-color: #4c6e48;
    }
    
    .form-container .button-submit.disable {
      opacity: 50%;
      pointer-events: none;
    }
    
    .form-container .card-content-box {
      position: relative;
      width: 17.5rem;
      height: 10.5rem;
      transition: all 0.5s;
      transform-style: preserve-3d;
    }
    
    .form-container .card-content-box > div {
      position: absolute;
    }
    
    .form-container .card-content-box > div:nth-child(1) {
      transform: rotateY(180deg);
    }
    
    .form-container .card-content-box.rotate {
      transform: rotateY(180deg);
    }
    
    .form-container .card-content-box.rotate > div:nth-child(1) {
      backface-visibility: visible;
      z-index: 2;
    }
    
    .form-container .card-content-box.rotate > div:nth-child(2) {
      backface-visibility: hidden;
      z-index: 1;
    }
  
    @media (max-width: 745px) {
      body {
        background-color: var(--corFormulario);
      }
    
      .wrapper .form-container {
        width: max-content;
      }
    
      .form-container .box-form {
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;
      }
    
      .form-container .box-form .input-content {
        order: 2;
      }
    
      .form-container .box-form .card-content {
        order: 1;
      }
    
      .form-container .box-form .card-content .status-security {
        display: none;
      }      
     }
  
  
    