/*====================PAGAMENTO======================*/

.container-pagamentos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-height: 100vh;
    background-color: #5a8854;
}

.container-pagamentos form {
    padding: 20px;
    width: 700px;
    background: #f2f2f2;
    border-radius: 10px;
}

.container-pagamentos form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container-pagamentos form .row .col {
    flex: 1 1 250px;
}

h3.title-pagamentos {
    padding: 10px 0 0 0;
}

.container-pagamentos form .row .col .title {
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container-pagamentos form .row .col .inputBox-pagamentos {
    margin: 15px 0;
}

.container-pagamentos form .row .col .inputBox-pagamentos span {
    margin-bottom: 8px;
    display: block;
}

.container-pagamentos form .row .col .inputBox-pagamentos input {
    width: 100%;
    border: 1px solid;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
    text-transform: none;
    background-color: #f2f2f2;
    color: #476b43;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
}

.container-pagamentos form .row .col .inputBox-pagamentos input:hover {
    color: #283b26;
}

.container-pagamentos form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container-pagamentos form .row .col .flex .inputBox-pagamentos {
    margin-top: 0.005px;
}


.container-pagamentos form .submit-btn {
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #5a8854;
    color: #f2f2f2;
    margin-top: 5px;
    cursor: pointer;
}

.container-pagamentos form .submit-btn:hover {
    background: #476b43;
}

a.button-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pagamento {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #5a8854;
    color: #f2f2f2;
    font-weight: 600;
    transition: all 0.4s ease;
}

.button-pagamento:hover {
    background-color: #5a2323;
    letter-spacing: 1.5px;
}

a.voltar-pagamento {
    text-decoration: none;
    color: #5a2323;
    transition: 0.5s;
}

a.voltar-pagamento:hover {
    color: #1f0c0c;
}

/*====================FINAL PAGAMENTO======================*/