  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  /* ======  CARDS  ===== */

  .cardGrupo {
    position: relative;
    width: 100%;
    padding: 6px 0 0 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  .cardGrupo .cards {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    transition: all 0.2s ease;
  }
  
  .cardGrupo .cards .numeros {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--verde);
  }
  
  .cardGrupo .cards .nomeCard {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .cardGrupo .cards .iconeGp {
    font-size: 3.5rem;
    color: var(--black2);
  }
  
  .cardGrupo .cards:hover {
    background: var(--verde);
  }
  
  .cardGrupo .cards:hover .numeros,
  .cardGrupo .cards:hover .nomeCard,
  .cardGrupo .cards:hover .iconeGp {
    color: var(--white);
  }
  
  /* ===== HISTÓRICO ===== */
  
  
  .card{
    width: 100%;
    background-color: #476b43;
    color: #f2f2f2;
    transition: all 0.2s ease;
  }
  .card:hover{
    background-color: #405f3b;
  }

  
  
                  /* ====== MEUS CURSOS ====== */
   
        /* ====== RESPONSIVIDADE ====== */
  
  @media (max-width: 1300px){
    .cardGrupo {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  @media (max-width: 991px) {
  
    .cardGrupo {
      grid-template-columns: repeat(2, 1fr);
    }
    .toggle {
      z-index: 10001;
    }
  }

  
@media (max-width:640px){
  .cardGrupo {
    grid-template-columns: repeat(1, 1fr);
  }
}

  @media (max-width: 480px) {
  
    .cardGrupo {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .cardHeader h2 {
      font-size: 20px;
    }
  
    .user {
      min-width: 40px;
    }
  
  }
