@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background-color: #f2f2f2;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*COMEÇO DA NAVBAR*/
nav{
    z-index: 8;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #b9ceb9;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 35px;
    flex-wrap: wrap;
}
nav img{
    height: 35px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 7px;
    letter-spacing: 0.5px;
    transition: all 0.4s ease;
}
nav ul li a:hover{
    background: #8da58d;
}
nav ul li a.active{
    background: #527D4D;
    color: #f2f2f2;
}
nav ul li a.active:hover{
    background-color: #476b43;
    color: #ededed;
}
nav .menu-btn i{
    color: #5a2323;
    cursor: pointer;
    display: none;
    transition: all 0.4s ease;
}
@media (max-width: 900px) {
    nav .menu-btn i{
        display: block;
        color: #5a2323;
    }
    nav .menu-btn i:hover{
        color: #1f0c0c;
    }
    nav ul{
        position: absolute;
        top: 50px;
        left: -100%;
        background-color: #f2f2f2;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        z-index: 999;
        transition: all 0.7s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 17px;
    }
    nav ul li a:hover{
        background-color: #d0d0d0;
    }   
}

/*FINAL DA NAVBAR*/

/*COMEÇO DO CARROSSEL*/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 38.90%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    background-color: #00000012;
    padding: 11px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 15px;
}
.nav-manual .manual-btn:hover {
    background-color: rgb(186, 186, 186);
}
#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #476b43;
    transform: scale(1.15);  
    z-index: 9;
}
#radio1:checked ~ .nav-auto .auto-btn1:hover {
    background-color: #375234;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #b9ceb9;
    transform: scale(1.15);
    z-index: 9;
}
#radio2:checked ~ .nav-auto .auto-btn2:hover {
    background-color: #a4b7a4;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #0079be;
    transform: scale(1.15);
    z-index: 9;
}
#radio3:checked ~ .nav-auto .auto-btn3:hover {
    background-color: #005a8e;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


@media screen and (max-width: 530px) {
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display:block;
    }
    .nav-auto, .nav-manual{
        margin-top: 100%;
    }
    .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
        margin-right: 18px;
    }
    .nav-manual .manual-btn, .nav-auto div{
        padding: 11px;
    }
    .slider-content{
        width: 410%;
    }
    
}


/*FINAL DO CARROSSEL*/

/*COMEÇO DE PLANOS*/  

.conteiner{
    max-width: 1024px;
}
.grid{
    display: grid;
}
.card{
    padding: 20px 20px 40px;
    align-items: center;
}
.card-conteiner{
    gap: 48px 80px;
}
.card-content{
    background-color: #527D4D;
    padding: 50px 25px 50px;
    border-radius: 35px;
    box-shadow:12px 12px 0px 0px rgba(52,84,51,1);
    transition: 0.4s;
}
.card-content:hover{
    transform: scale(1.015);
}
.card-title{
    text-align: center;
    margin-bottom: 7px;
    font-size: 40px;
    color: #5a2323;
}
.card-price{
    text-align: center;
    color: #f2f2f2;
    font-size: 35px;
}
.card-list{
    row-gap: 12.8px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.list-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #e9e9e9;
}
.icon{
    color: #5a2323;
    margin-right: 3px;
    font-size: 15px;
}
.card-button{
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    transition: all 0.4s ease;
}
.card-button:hover{
    background-color: #5a2323;
    color: #ffffff;
    letter-spacing: 0.9px;
}
@media screen and (min-width: 900px){
    .conteiner{
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        height: 100vh;
        width: 100%;
        align-items: center;
    }
    .card-content{
        margin-left: 15px;
    }
    .card-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*FINAL DE PLANOS*/

/*COMEÇO DO LOGIN*/

.inputlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5a8854;
    background-position: center;
}
.wrapper {
    align-items: center;
    width: 420px;
    color: #f2f2f2;
    border-radius: 20px;
    background-color: #476b43;
    padding: 40px 35px;
    border-color: #8da58d;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #f2f2f2;
    text-align: center;
}
.input-box input::placeholder {
    color: #f2f2f2cf;
}
.wrapper .LembreDeMim {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.LembreDeMim label input {
    accent-color: #f2f2f2 ;
    margin-right: 4px;
}
.LembreDeMim a {
    color: #f2f2f2;
    text-decoration: none;
    transition: all 0.4s ease;
}
.LembreDeMim a:hover {
    color: #5a2323;
    text-decoration: none;
}
.wrapper .btnlogin   {
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    transition: all 0.4s ease;
}
.wrapper .btnlogin:hover{
    background-color: #5a2323;
    color: #f2f2f2;
    letter-spacing: 1.5px;
}
.wrapper .linkderegistro {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    accent-color: #f2f2f2;
}
.linkderegistro p a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.4s ease;
}
.linkderegistro p a:hover {
    color: #5a2323;
    text-decoration: none;
}
@media (width < 420px) {
    .wrapper {
        width: 350px;
    }
}
@media (width < 350px) {
    .wrapper {
        width: 300px;
    }
}
@media (width < 300px) {
    .wrapper {
        width: 250px;
    }
}


/*FINAL DO LOGIN*/

/*COMEÇO DA TIMELINE*/

.timeline-section{
    min-height: 100vh;
    padding: 20px 20px 80px;
    background-color: #b9ceb9;
}
.timeline-title{
    text-align: center;
    padding: 60px;
    font-size: 1.5rem;
    font-weight: 500;
}
.timeline-title h1{
    font-size: 2.5rem;
    font-weight: 40;
    color: #476b43;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #527D4D;
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;

}
.timeline-item:nth-child(odd){
    padding-right:calc(50% + 30px) ;
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left:calc(50% + 30px) ;
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #5a2323;
    position: absolute;
    left: calc(50% - 8px);
    border-radius:50%;
    top: 4px;
}
.timeline-date{
    font-weight: 700;
    font-size: 20px;
    color: #5a2323;
}
.timeline-content{
    background-color: #527D4D;
    padding: 30px;
    border-radius:8px ;
    margin: 6px 0 15px;
}
.timeline-content h3 {
    font-weight: 400;
    font-size: 22px;
    color: #5a2323;
    margin: 0 0 15px;
    
}
.timeline-content p{
    color: #f2f2f2;
    font-size: 16px;
    line-height: 22px;
}
@media (max-width: 900px) {
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0 ;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px ;
    }
    .timeline-dot{
        left: 0;
    }
}

/*FINAL DA TIMELINE*/

/*COMEÇO DE ESPECIALIZAÇÕES*/

.curso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    background-position: center;
}
.curso-card {
    width: 325px;
    height: 350px;
    background-color: #527D4D;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba (0,0,0,0.2);
    margin: 20px;
}
.curso-card img{
    width: 100%;
    height: auto;
}
.curso-content {
    text-align: center;
}
.curso-content h3 {
    color: #f2f2f2;
    font-size: 27.5px;
}
.curso-content p {
    color: #e9e9e9;
    font-size: 15px;
    line-height: 1.3;
}
.curso-content .curso-btn {
    display: inline-block;
    padding: 8px 90px;
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.curso-content .curso-btn:hover {
    background-color: #5a2323;
    color: #f2f2f2;
}
swiper-container {
          width: 100%;
          height: 100%;
          padding-top: 25vh;
          padding-bottom: 80px;
        }
        swiper-slide {
          background-position: center;
          background-size: cover;
          width: 325px;
          height: 430px;
        }
        swiper-slide img {
          display: block;
          width: 100%;
        }
/*FINAL DE ESPECIALIZAÇÕES*/

/*COMEÇO DO FOOTER*/

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #527D4D;
}
li#footer-sobre-texto{
    text-align: center;
}
.footer-link {
    text-decoration: none;
}
#footer_content {
    background-color: #b9ceb9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 3.5rem;
}
#footer_content h2 {
    font-size: 1.10rem;
    margin-top: 0.10rem;
}
#footer_social_media{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}
#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f2f2f2;
    border-radius: 50%;
    transition: all 0.4s ease;  
}
#footer_social_media .footer-link i {
    font-size: 1.25rem;
}
#footer_social_media .footer-link:hover {
    background-color: #476b43;
}
#instagram {
    background-color: #527D4D;
    transition: 1s;
}
#instagram:hover {
    transform: scale(1.1);
}
#email {
    background-color: #527D4D;
    transition: 1s;
}
#email:hover {
    transform: scale(1.1);
}
#github{
    background-color: #527D4D;
    transition: 1s;
}
#github:hover {
    transform: scale(1.1);
}
.footer-list{
    margin: 20px 0 20px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link{
    font-size: 0.95rem;
    color: black;
    transition: all 0.4s;
}
.footer-list .footer-link:hover{
    color: #5a2323;
}
#footer-sobre-texto{
    color: black;
    font-size: 0.95rem;
}
#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #8da58d;
    color: #f2f2f2;
    font-size: 0.9rem;
    padding: 0.9rem;
    font-weight: 8000;
}
@media screen and (max-width: 900px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*FINAL DO FOOTER*/

/*COMEÇO DE AVALIAÇÕES*/

.assessment {
    min-height: 100vh;
    padding: 80px 0 80px 0;
    display: flex;
}
.container-ava {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}
.container__left h1 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: #527D4D;
}
.container__left p {
    font-size: 16px;
    color: black;
    margin-bottom: 1rem;
    line-height: 22px;
} 
.container__left button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right,#527D4D,#476b43);
    color: #f2f2f2;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.container__left button:hover {
    transform: scale(1.05);
}
.container__right {
    display: grid;
    gap: 2rem;
}
.card-ava {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}  
.card-ava img {
    max-width: 75px;
    border-radius: 100%;
}
.card__content {
    display: flex;
    gap: 1rem;
}
.card__content span i {
    font-size: 2rem;
    color: #527D4D;
}
.card__details p {
    line-height: 22px;
    font-size: 16px;
    font-style: italic;
    color: black;
    margin-bottom: 1rem;
}
.card__details h4 {
    text-align: right;
    color: #527D4D;
    font-size: 1rem;
    font-weight: 500;
}
@media (width < 1200px) {
    .container-ava {
        gap: 3rem;
    }
}
@media (width < 900px) {
    .container-ava {
        grid-template-columns: repeat(1, 1fr);
    }
    .container__right {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width < 750px) {
    .container__right {
        grid-template-columns: repeat(1, 1fr);
    }
    .container__left h1 {
        margin-bottom: 1.3rem;
        font-size: 1.9rem;
        font-weight: 510;
        color: #527D4D;
    }
    .assessment {
        padding: 55px 0 55px 0;
    }
    .card-ava {
        display: block;
        text-align: center;
    }  
    .card-ava img {
        max-width: 85px;
        margin: 0 0 20px 0;
    }
    .card__details p {
        text-align: left;
    }
}

/*FINAL DE AVALIAÇÕES*/

/*COMEÇO CURSOS*/
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .imagem{
        max-width: 40%;
        margin-left: 30%;
        border-radius: 20px;
}
    .imagem3{
        max-width: 40%;
        margin-left: 30%;
        border-radius: 20px;
}
    .texto{
        font-size: 100%;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    .paragrafo{
        margin-left: 25px;
    }
    .btn{
         padding: 8px 60px;
         background-color: #8da58d;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transition: all 0.5s ease;
        position: relative;
}
.btn:hover {
        background-color: #476b43;
        color: #f2f2f2;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
.container {
    display: flex;
    align-items: center; 
}

.imagem{
    border: 5px;
    margin-left: 2%;
    margin-right: 20px; 
    max-width: 50%; 
    border-radius: 20px;
}
.imagem3{
    border: 5px;
    margin-left: 2%;
    margin-right: 20px; 
    width: 420px;
    max-width: 50%;
    border-radius: 20px;
}
.texto { 
    margin-left: 50px;
    text-align: justify;
    margin-right: 25px;
}
.paragrafo {
    margin-left: 25px;
}
.btn{
        display: flex;
        justify-content: center;
        align-items: center;
         padding: 8px 60px;
         background-color: #8da58d;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transition: all 0.5s ease;
}
.btn:hover {
        background-color: #476b43;
        color: #f2f2f2;
}
}
@media (min-width: 1025px) {
    .container {
    display: flex;
    align-items: center; 
}

.imagem{
    border: 5px;
    margin-left: 10%;
    margin-right: 7%; 
    width: 4000px;
    height: 550px;
    border-radius: 20px;
}
.imagem3{
    border: 5px;
    margin-left: 10%;
    margin-right: 7%; 
    width: 700px;
    height: 550px;
    border-radius: 20px;
}
.texto {
    margin-left: 80px;
    margin-right: 10%;
    font-size: 20px;
    text-align: justify;
}
.paragrafo{
        margin-left: 45px;
        text-align: justify;
    }
    .btn{
        padding: 8px 60px;
        margin-left: 78%;
        align-items: center;
         padding: 8px 60px;
         background-color: #8da58d;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transition: all 0.5s ease;
        width: 300px;
}
.btn:hover {
        background-color: #476b43;
        color: #f2f2f2;
}
}
h3{
text-align: center;

    font-weight: 350;
    font-size: 30px;
    color: #476b43;
    

}

/*FINAL CURSOS*/

/*COMEÇO DE PAGAMENTO*/

.container-pagamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    min-height: 100vh;
    background-color: #5a8854;;
  }
  
  .container-pagamentos form{
    padding:20px;
    width:700px;
    background: #f2f2f2;
    border-radius: 10px;
  }
  .container-pagamentos form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .container-pagamentos form .row .col{
    flex: 1 1 250px;
  }
  h3.title-pagamentos{
    padding: 10px 0 0 0;
  }
  .container-pagamentos form .row .col .title{
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container-pagamentos form .row .col .inputBox-pagamentos{
    margin: 15px 0;
  }

  .container-pagamentos form .row .col .inputBox-pagamentos span{
    margin-bottom: 8px;
    display: block;
  }
  
  .container-pagamentos form .row .col .inputBox-pagamentos input{
    width: 100%;
    border:1px solid;
    padding:10px 15px;
    font-size: 15px;
    outline: none;
    text-transform: none;
    background-color: #f2f2f2;
    color: #476b43;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
  }
  .container-pagamentos form .row .col .inputBox-pagamentos input:hover{
    color: #283b26;
  }
  
  .container-pagamentos form .row .col .flex{
    display: flex;
    gap: 15px;
  }
  
  .container-pagamentos form .row .col .flex .inputBox-pagamentos{
    margin-top: 0.005px;
  }
  
  
  .container-pagamentos form .submit-btn{
    border: none;
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #5a8854;
    color: #f2f2f2;
    margin-top: 5px;
    cursor: pointer;
  }

  .container-pagamentos form .submit-btn:hover{
    background: #476b43;
  }
  
  a.button-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-pagamento{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #5a8854;
    color: #f2f2f2;
    font-weight: 600;
    transition: all 0.4s ease;
}
.button-pagamento:hover{
    background-color: #5a2323;
    letter-spacing: 1.5px;
}
a.voltar-pagamento{
    text-decoration: none;
    color: #5a2323;
    transition: 0.5s;
}
a.voltar-pagamento:hover{
    color: #1f0c0c;
}

/*FINAL DE PAGAMENTO*/

/*COMEÇO DE APROVADO*/
.logo-pagamento {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    max-width: 300px;
    height: auto;
}

.titulo-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -40px;
}

.titulo-container h1 {
    font-family: 'Poppins', sans-serif;
    color: #5a2323;
    margin-top: -30px;
}

.titulo-container img {
    width: 80%;
    max-width: 500px;
    height: auto;
}

.button-pagamento-aprovado {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #e9e9e9;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #b9ceb9;
    text-decoration: none;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #b9ceb9;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b9ceb9;
        border-radius: 10rem;
        z-index: -2;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    color: #5a2323;
    background: #b9ceb9;
    transition: 0.5s;
    box-shadow: 6px 6px 0 #5a2323;
    transform: skewX(-15deg);
}

.cta a {
    text-decoration: none;
    color: #5a2323;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #5a2323;
}

.linha-esq,
.linha-dir {
    background-color: #476B43;
    position: fixed;
    width: 4px;
    height: 90vh;
    top: 30px;
}

.linha-esq {
    left: 10px;
}

.linha-dir {
    right: 10px;
}

.linha-bai {
    background-color: #476B43;
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 4px;
    left: 25%;
    
}

@media (max-width: 768px) {
    .logo img {
        left: 5%;
        max-width: 200px;
    }

    .titulo-container img {
        max-width: 300px;
    }

    .linha-esq,
    .linha-dir {
        display: none;
    }

    .linha-bai {
        width: 100%;
        left: 0;
    }
}

/*FINAL DE APROVADO*/
