@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background-color: #f2f2f2;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*COMEÇO DA NAVBAR*/

nav{
    display: flex;
    height: 52px;
    width: 100% ;
    background-color: #b9ceb9;
    align-items: center;
    justify-content: space-between;
    padding: 0  50px 0 100px;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}
nav ul li a:hover{
    background: #8da58d;
}
nav ul li a.active{
    background: #527D4D;
    color: #f2f2f2;
}
nav ul li a.active:hover{
    background-color: #476b43;
    color: #ededed;
}
nav .menu-btn i{
    color: #5a2323;
    cursor: pointer;
    display: none;
    transition: all 0.4s ease;
}
@media (max-width: 900px) {
    nav .menu-btn i{
        display: block;
        color: #5a2323;
    }
    nav .menu-btn i:hover{
        color: #1f0c0c;
    }
    nav ul{
        position: absolute;
        top: 52px;
        left: -100%;
        background-color: #f2f2f2;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
    }
    nav ul.open{
        left: 0;
        
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 17px;
    }
    nav ul li a:hover{
        background-color: #d0d0d0;
    }   
    .slider_fechado{ /* Quando o menu estiver aberto */
        display: none;
    }
    .timeline_fechado{
        display: none;
    }
}

/*FINAL DA NAVBAR*/

/*COMEÇO DO CARROSSEL*/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 38.90%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    background-color: #00000012;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover {
    background-color: #00000060;
}
#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #476b43;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #b9ceb9;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #0079be;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


@media screen and (max-width: 530px) {
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display:block;
    }
    .nav-auto, .nav-manual{
        margin-top: 95%;
    }
}


/*FINAL DO CARROSSEL*/

/*COMEÇO DE PLANOS*/  

.conteiner{
    max-width: 1024px;
    margin-left: 20px;
    margin-right: 20px;
}
.grid{
    display: grid;
}
.card{
    padding: 40px;
    align-items: center;
}
.card-conteiner{
    gap: 48px 80px;
}
.card-content{
    background-color: #527D4D;
    padding: 50px 25px 50px;
    border-radius: 35px;
    box-shadow:18px 19px 0px 4px rgba(52,84,51,1);
    transition: 0.4s;
}
.card-content:hover{
    transform: scale(1.050);
}
.card-title{
    text-align: center;
    margin-bottom: 7px;
    font-size: 40px;
    color: #5a2323;
}
.card-price{
    text-align: center;
    color: #f2f2f2;
    font-size: 35px;
}
.card-list{
    row-gap: 12.8px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.list-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #e9e9e9;
}
.icon{
    color: #e9e9e9;
    margin-right: 4px;
    font-size: 18px;
    font-weight: 700;
}
.card-button{
    padding: 18px;
    margin-top: 25px;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
}
.card-button:hover{
    background-color: #5a2323;
    color: #ffffff;
    letter-spacing: 1.2px;
}
@media screen and (min-width: 900px){
    .conteiner{
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        height: 100vh;
        width: 100%;
        align-items: center;
    }
    .card-content{
        margin-left: 15px;
    }
    .card-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*FINAL DE PLANOS*/

/*COMEÇO DO LOGIN*/

.inputlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    background-position: center;
}
.h1login {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    align-items: center;
    width: 420px;
    background-color: #527D4D;
    color: #f2f2f2;
    border-radius: 40px;
    padding: 20px 35px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #f2f2f2;
    text-align: center;
}
.input-box input::placeholder {
    color: #f2f2f2cf;
}
.wrapper .LembreDeMim {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.LembreDeMim label input {
    accent-color: #f2f2f2 ;
    margin-right: 4px;
}
.LembreDeMim a {
    color: #f2f2f2;
    text-decoration: none;
    transition: all 0.4s ease;
}
.LembreDeMim a:hover {
    color: #5a2323;
    text-decoration: none;
}
.wrapper .btnlogin   {
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    transition: all 0.4s ease;
}
.wrapper .btnlogin:hover{
    background-color: #5a2323;
    color: #f2f2f2;
}
.wrapper .linkderegistro {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    accent-color: #f2f2f2;
}
.linkderegistro p a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.4s ease;
}
.linkderegistro p a:hover {
    color: #5a2323;
    text-decoration: none;
}
@media screen and (max-width: 700px) {
    .wrapper h1 {
        font-size: 33px;
    }
    .input-box input{
        font-size: 13.5px;
    }
    .wrapper .LembreDeMim {
        margin: 15px 0 25px;
        font-size: 13.5px;
    }
    .wrapper .linkderegistro {
        font-size: 13.5px;
    } 
    .wrapper .input-box{
        height: 40px;
        margin: 10px 0;
    }
}

/*FINAL DO LOGIN*/

/*COMEÇO DA TIMELINE*/

.timeline-section{
    min-height: 100vh;
    padding: 20px;
    background-color: #b9ceb9;
}
.timeline-title{
    text-align: center;
    padding: 20px;
    font-size: 17px;
    color: #5a2323;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #527D4D;
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;

}
.timeline-item:nth-child(odd){
    padding-right:calc(50% + 30px) ;
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left:calc(50% + 30px) ;
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #5a2323;
    position: absolute;
    left: calc(50% - 8px);
    border-radius:50%;
    top: 4px;
}
.timeline-date{
    font-weight: 1000;
    font-size: 20px;
    color: #5a2323;
}
.timeline-content{
    background-color: #527D4D;
    padding: 30px;
    border-radius:8px ;
    margin: 6px 0 15px;
}
.timeline-content h3 {
    font-size: 22px;
    color: #5a2323;
    margin: 0 0 15px;
    
}
.timeline-content p{
    color: #f2f2f2;
    font-size: 16px;
    line-height: 22px;
}
@media (max-width: 900px) {
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0 ;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px ;
    }
    .timeline-dot{
        left: 0;
    }
}

/*FINAL DA TIMELINE*/

/*COMEÇO DE ESPECIALIZAÇÕES*/

.curso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    background-position: center;
}
.curso-card {
    width: 325px;
    height: 420px;
    background-color: #527D4D;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba (0,0,0,0.2);
    margin: 20px;
}
.curso-card img{
    width: 100%;
    height: auto;
}
.curso-content {
    padding: 16px;
}
.curso-content h3 {
    color: #f2f2f2;
    font-size: 27.5px;
    margin-bottom: 8px;
}
.curso-content p {
    color: #e9e9e9;
    font-size: 15px;
    line-height: 1.3;
}
.curso-content .curso-btn {
    display: inline-block;
    padding: 8px 60px;
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 45px;
    transition: all 0.5s ease;
}
.curso-content .curso-btn:hover {
    background-color: #5a2323;
    color: #f2f2f2;
}
/*FINAL DE ESPECIALIZAÇÕES*/

/*COMEÇO DO FOOTER*/

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #527D4D;
}
.footer-link {
    text-decoration: none;
}
#footer_content {
    background-color: #b9ceb9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 3.5rem;
}
#footer_content h2 {
    font-size: 1.10rem;
    margin-top: 0.10rem;
}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f2f2f2;
    border-radius: 50%;
    transition: all 0.4s ease;  
}
#footer_social_media .footer-link i {
    font-size: 1.25rem;
}
#footer_social_media .footer-link:hover {
    background-color: #476b43;
}
#instagram {
    background-color: #527D4D;
}
#email {
    background-color: #527D4D;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link{
    font-size: 0.95rem;
    color: black;
    transition: all 0.4s;
}
.footer-list .footer-link:hover{
    color: #5a2323;
}
#footer-sobre-texto{
    color: black;
    font-size: 0.95rem;
}
#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #8da58d;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.9rem;
    font-weight: 100;
}
@media screen and (max-width: 900px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*FINAL DO FOOTER*/

/*COMEÇO DE AVALIAÇÕES*/

.assessment {
    min-height: 100vh;
    padding: 17px;
    display: flex;
}
.container-ava {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}
.container__left h1 {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: #527D4D;
}
.container__left p {
    color: #333333;
    margin-bottom: 1rem;
} 
.container__left button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right,#527D4D,#476b43);
    color: #f2f2f2;
    font-size: 1rem;
    cursor: pointer;
}
.container__right {
    display: grid;
    gap: 2rem;
}
.card-ava {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}  
.card-ava img {
    max-width: 75px;
    border-radius: 100%;
}
.card__content {
    display: flex;
    gap: 1rem;
}
.card__content span i {
    font-size: 2rem;
    color: #527D4D;
}
.card__details p {
    font-style: italic;
    color: #333333;
    margin-bottom: 1rem;
}
.card__details h4 {
    text-align: right;
    color: #527D4D;
    font-size: 1rem;
    font-weight: 500;
}
@media (width < 1200px) {
    .container-ava {
        gap: 3rem;
    }
}
@media (width < 900px) {
    .container-ava {
        grid-template-columns: repeat(1, 1fr);
    }
    .container__right {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width < 750px) {
    .container__right {
        grid-template-columns: repeat(1, 1fr);
    }
}